// @property --color-bg {
// 	syntax: '<color>';
// 	initial-value: #00030a;
// 	inherits: true;
// }

// @property --color-primary {
// 	syntax: '<color>';
// 	initial-value: #acc8ff;
// 	inherits: true;
// }

// @property --color-secondary {
// 	syntax: '<color>';
// 	initial-value: #4866ab;
// 	inherits: true;
// }

:root {
	--color-bg: #00030a;
	--color-primary: #acc8ff;
	--color-secondary: #4866ab;
	--logo-hue: 0deg;
}

[data-theme='purple'] {
	--color-bg: #0a000a;
	--color-primary: #ffacff;
	--color-secondary: #ab48ab;
	--logo-hue: 45deg;
}

[data-theme='red'] {
	--color-bg: #0a0000;
	--color-primary: #ff7070;
	--color-secondary: #a62929;
	--logo-hue: 90deg;
}

[data-theme='orange'] {
	--color-bg: #0a0500;
	--color-primary: #ff9742;
	--color-secondary: #bd5b0b;
	--logo-hue: 135deg;
}

[data-theme='yellow'] {
	--color-bg: #0a0900;
	--color-primary: #ffcf7d;
	--color-secondary: #d6992f;
	--logo-hue: 180deg;
}

[data-theme='green'] {
	--color-bg: #010a00;
	--color-primary: #b2ffac;
	--color-secondary: #48ab4b;
	--logo-hue: 225deg;
}

// @keyframes rainbow {
// 	0% {
// 		--color-bg: #0a0000;
// 		--color-primary: #ff7070;
// 		--color-secondary: #a62929;
// 	}
// 	16% {
// 		--color-bg: #0a0500;
// 		--color-primary: #ff9742;
// 		--color-secondary: #bd5b0b;
// 	}
// 	33% {
// 		--color-bg: #0a0900;
// 		--color-primary: #ffcf7d;
// 		--color-secondary: #d6992f;
// 	}
// 	50% {
// 		--color-bg: #010a00;
// 		--color-primary: #b2ffac;
// 		--color-secondary: #48ab4b;
// 	}
// 	66% {
// 		--color-bg: #00030a;
// 		--color-primary: #acc8ff;
// 		--color-secondary: #4866ab;
// 	}
// 	83% {
// 		--color-bg: #0a000a;
// 		--color-primary: #ffacff;
// 		--color-secondary: #ab48ab;
// 	}
// 	100% {
// 		--color-bg: #0a0000;
// 		--color-primary: #ff7070;
// 		--color-secondary: #a62929;
// 	}
// }

// [data-theme='rainbow'] {
// 	--color-bg: #0a0000;
// 	--color-primary: #ff7070;
// 	--color-secondary: #a62929;
// 	animation: 2s rainbow linear infinite;
// }

html,
body,
* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background: var(--color-bg);
	transition: color 0.15s, background 0.15s;
	color: var(--color-primary);
	font-size: 14px;

	cursor: url('/assets/cursor/smg_cursor_pointer.svg') 2 2, auto;

	&::after {
		position: absolute;
		width: 0;
		height: 0;
		overflow: hidden;
		z-index: -1;
		content: url('/assets/cursor/smg_cursor_pointer.svg')
			url('/assets/cursor/smg_cursor_hand.svg')
			url('/assets/cursor/smg_cursor_grab.svg');
	}
}

#logo {
	&:hover {
		cursor: url('/assets/cursor/smg_cursor_hand.svg') 2 2, auto;
	}

	&.clicked {
		cursor: url('/assets/cursor/smg_cursor_grab.svg') 2 2, auto;
	}

	transition: filter 0.15s;
	filter: hue-rotate(var(--logo-hue));
}

a {
	transition: color 0.15s;
	color: var(--color-primary);

	&:hover {
		cursor: url('/assets/cursor/smg_cursor_hand.svg') 2 2, auto;
	}

	&:focus {
		cursor: url('/assets/cursor/smg_cursor_grab.svg') 2 2, auto;
	}
}

@media screen and (max-width: 690px) {
	nav {
		flex-direction: column;
		max-width: calc(100vw - 30px);
		padding: 0;
	}

	main {
		padding-left: 15px;
		padding-right: 15px;
		max-width: calc(100vw - 30px);
	}
}

nav {
	max-width: 630px;

	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	margin: auto;

	transition: border-bottom 0.15s;
	border-bottom: 2px solid var(--color-secondary);
	margin-bottom: 15px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	div {
		display: flex;
		align-items: center;

		img {
			margin-right: 8px;
		}

		p {
			margin-right: 24px;
		}
	}

	ul {
		list-style: none;
		display: flex;
		align-items: center;
		margin-right: -16px;

		li {
			padding-right: 16px;
			padding-left: 16px;
			transition: border-left 0.15s;
			border-left: 2px solid var(--color-primary);
			height: 24px;
			display: flex;
			align-items: center;
		}
	}
}

main {
	max-width: 630px;
	margin: auto;

	p {
		margin-top: 10px;

		line-height: 1.5;

		sup {
			transition: color 0.15s;
			color: var(--color-secondary);
		}

		i {
			transition: color 0.15s;
			color: var(--color-secondary);
		}
	}
}

.navLink {
	&.active {
		text-decoration: none;
	}
}
