:root {
	--color-bg: #00030a;
	--color-header: #fff;
	--color-primary: #acc8ff;
	--color-secondary: #4866ab;
}

[data-theme="light"] {
	--color-bg: #fff;
	--color-header: #00030a;
	--color-primary: #4866ab;
	--color-secondary: #acc8ff;
}

html,
body,
* {
	margin: 0;
	padding: 0;
}

html {
	width: 100vw;
	height: 100%;
}

body {
	width: 100vw;
	height: 100%;
	background: var(--color-bg);

	cursor: url("/assets/cursor/smg_cursor_pointer.svg") 2 2, auto;

	&::after {
		position: absolute;
		width: 0;
		height: 0;
		overflow: hidden;
		z-index: -1;
		content: url("/assets/cursor/smg_cursor_pointer.svg")
			url("/assets/cursor/smg_cursor_hand.svg")
			url("/assets/cursor/smg_cursor_grab.svg");
	}
}

nav {
	border-top: 1px solid var(--color-header);
	border-bottom: 1px solid var(--color-bg);
	background: linear-gradient(var(--color-primary), var(--color-secondary));
	color: var(--color-header);
	display: flex;
	justify-content: center;

	padding-top: 0.5em;
	padding-bottom: 0.5em;

	div {
		width: 900px;

		display: flex;
		justify-content: space-between;

		ul {
			list-style-type: none;
			display: flex;
			align-items: center;

			li {
				padding-left: 1em;
			}
		}
	}
}

a {
	&:hover {
		cursor: url("/assets/cursor/smg_cursor_hand.svg") 2 2, auto;
	}

	&:focus {
		cursor: url("/assets/cursor/smg_cursor_grab.svg") 2 2, auto;
	}
}
