:root {
	--color-bg: #00030a;
	--color-primary: #acc8ff;
	--color-secondary: #4866ab;
}

html,
body,
* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background: var(--color-bg);
	color: var(--color-primary);
	font-size: 14px;

	cursor: url('/assets/cursor/smg_cursor_pointer.svg') 2 2, auto;

	&::after {
		position: absolute;
		width: 0;
		height: 0;
		overflow: hidden;
		z-index: -1;
		content: url('/assets/cursor/smg_cursor_pointer.svg')
			url('/assets/cursor/smg_cursor_hand.svg')
			url('/assets/cursor/smg_cursor_grab.svg');
	}
}

a {
	color: var(--color-primary);

	&:hover {
		cursor: url('/assets/cursor/smg_cursor_hand.svg') 2 2, auto;
	}

	&:focus {
		cursor: url('/assets/cursor/smg_cursor_grab.svg') 2 2, auto;
	}
}

@media screen and (max-width: 690px) {
	nav {
		flex-direction: column;
		max-width: calc(100vw - 30px);
		padding: 0;
	}

	main {
		padding-left: 15px;
		padding-right: 15px;
		max-width: calc(100vw - 30px);
	}
}

nav {
	max-width: 630px;

	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	margin: auto;

	border-bottom: 2px solid var(--color-secondary);
	margin-bottom: 15px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	div {
		display: flex;
		align-items: center;

		img {
			margin-right: 8px;
		}

		p {
			margin-right: 24px;
		}
	}

	ul {
		list-style: none;
		display: flex;
		align-items: center;
		margin-right: -16px;

		li {
			padding-right: 16px;
			padding-left: 16px;
			border-left: 2px solid var(--color-primary);
			height: 24px;
			display: flex;
			align-items: center;
		}
	}
}

main {
	max-width: 630px;
	margin: auto;

	p {
		margin-top: 10px;

		line-height: 1.5;

		sup {
			color: var(--color-secondary);
		}

		i {
			color: var(--color-secondary);
		}
	}
}

.navLink {
	&.active {
		text-decoration: none;
	}
}
