@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fontlibrary.org//face/symbola');

html,
body,
* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #0a000a;
	color: #ffacff;
	font-family: 'JetBrains Mono', monospace;
	font-size: 14px;
	line-height: 1.5;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

nav {
	width: 45rem;
	max-width: 90vw;

	margin-top: 40px;
}

main {
	width: 45rem;
	max-width: 90vw;

	p {
		margin-top: 10px;
	}

	margin-bottom: 10rem;
}

.project {
	p {
		margin: 0;
	}
}

a {
	color: #ffacff;

	&.external::after {
		content: '🡥';
		font-family: 'Wingdings', 'SymbolaRegular';
	}
}

.navLink {
	&.active {
		cursor: default;
		text-decoration: none;
	}

	margin-right: 1rem;
}
